body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
.cabecera{
    background-color: #87ff587c;
    height: 100px;
    display: flex;
    box-shadow: rgba(255, 186, 240, 0.849) 0px 1px 3px, rgba(210, 99, 214, 0.589) 0px 1px 2px;
}
.cabecera h1{
    margin: auto;
    color: #ff0000;
    justify-content: center;
    align-items: center;
}


.contenedor{
    background-color: #FFFFFF;
    margin: auto;
    width: 50%;
    margin: 40px auto;
    border-radius: 3px;
    box-shadow: rgba(250, 195, 252, 0.589) 0px 1px 3px, rgba(210, 99, 214, 0.589) 0px 1px 2px;
    display: flex;
    flex-direction: column;
}
.contenedor h2{
    margin: 0;
    padding: 20px 0px 5px 0px;
    text-align: center;
    color: #212121;
}
.btn{
    background-color: #87ff587c;
    color: #111010;
    padding: 10px 0px;
    min-width: 150px;
    justify-content: center;
    margin: 20px auto;
    border-style: none;
    border-radius: 3px;
    text-transform: capitalize;
    font-weight: 300;
}
.btn:hover{
    background-color: #87ff587c;
    box-shadow: rgba(210, 99, 214, 0.589) 0px 1px 3px, rgba(210, 99, 214, 0.589) 0px 1px 2px;
    cursor: pointer;
}
table {
    width: 80%;
    margin: auto auto 40px auto;
    box-shadow: rgba(210, 99, 214, 0.589) 0px 1px 3px, rgba(210, 99, 214, 0.589) 0px 1px 2px;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-radius: 5px;  
}
th, td {
    text-align: left;
    padding: 16px;
    font-weight: 300;
    color: #212121;
    text-transform: capitalize;
}
tr:nth-child(even){
    background-color: #8be4ffc9;
}
th {
    background-color: #212121;
    color: white;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 400;
}
.borde-de-ar{
    border-radius: 5px 0px 0px 0px;
}
.borde-iz-ar{
    border-radius: 0px 5px 0px 0px;
}

.centar-text{
    text-align: center;
}
.no-capitalizar{
    text-transform: none;
}
.borde-interno{
    border-top: 1px solid #BDBDBD;
}
hr{
    border: 0;
    border-top: 1px solid #eee;
    width: 100%;
}
/* .select{
    padding: 1px;

} */

.contenedor-select{
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 0 auto 15px auto;
    align-items: center;
}
select{
    height: 50px;
    background-color: #FAFAFA;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 10px;
    margin: auto;
}
.btn-a{
    background-color: #ffd093bb;
    padding: 10px 30px;
    border-radius: 3px;
    color: #212121;
    text-decoration: none;
    font-weight: 300;
}
.btn-a:hover{
    background-color: #ff7dee81;
    box-shadow: rgba(68, 196, 255, 0.5) 0px 1px 3px, rgba(68, 196, 255, 0.5) 0px 1px 2px;
    cursor: pointer;
}